.header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.text p{
    justify-content: center;
    display: flex;
}

.imagem{
    display: flex;
    justify-content: center;
}

